<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="GeeksException" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">Sample</title>
	
	<!-- Facebook OpenGraph Tags -->
	<meta property="og:title" content="GeeksException" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.geeksexception.com" />
	<meta property="fb:app_id" content="582399555170253" />
	<meta property="og:description" content="Enterprise level web &amp; mobile development." />
	
	<link href='../../css/normalize.css' th:href="@{/css/normalize.css}" rel='stylesheet' type='text/css' />
	<link href='../../css/style.css' th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header th:include="common :: header"></header>
	<div class="container">
		<section class="intro">
			<article>
				<header>
					<h1 class="section-title">Want to know more about us?</h1>
				</header>
			</article>
		</section>
		
		<section>
			<div class="l-grid-3">
				<div class="about">
					<h2>Who we are</h2>
						
					<p class="medium">We are a group of innovative and talented individuals that drive excellence at what we do. A team that is passionate in building software solutions that can transform user experience to a whole new level. What's more, we don't just build software by what the users tell us, we build software by what they really need even when they don't know it yet. Building a company that embraces this concept is very challenging yet very exciting for us. After all, everything is impossible until it's done.</p>
				</div>
				
				<div class="about">
					<h2>What we do</h2>
						
					<p class="medium">We provide a variety of enterprise software services and product support ranging from website and mobile website design to enterprise software solutions. The technology that we employ is different and tailored for every customer needs. We utilize powerful open source frameworks and tools that are widely used by communities and organizations today.</p>
					<p class="medium">Currently, we are adapting the mobile platforms development to enable our clients to utilize their applications on their handheld devices and enable us to leverage the power of mobile apps.</p>
				</div>
				
				<div class="about">
					<h2>Core Values</h2>
					
					<p class="medium">Our core values are closely related to the principles behind the agile software development methodology. We have been agile proponents since the company's inception. The following are our key core values:</p>
					<div>
						<ul>
							<li>Customer satisfaction and customer collaboration</li>
							<li>Continuous technical excellence</li>
							<li>Working software as primary measure of progress</li>
							<li>Simplicity</li>
							<li>Self-organizing teams</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:include="common :: footer"></footer>
	<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../../js/application.js" th:src="@{/js/application.js}"></script>
</body>
</html>