<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="GeeksException: Enterprise level web &amp; mobile development." />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">GeeksException</title>
	
	<meta property="og:site_name" content="GeeksException: Enterprise level web &amp; mobile development." />
	<meta property="og:title" content="GeeksException" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.geeksexception.com" />
	<meta property="og:image" content="http://geeksexception.com/img/profile.png" />
	<meta property="fb:app_id" content="582399555170253" />
	<meta property="og:description" content="Enterprise level web &amp; mobile development." />
	
	<link rel="icon" type="image/ico" href="../../img/favicon.ico" th:href="@{/img/favicon.ico}" />
	<link rel="canonical" href="http://www.geeksexception.com" />
	
	<link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="paddingTop">
	<div class="navbar-wrapper">
		<div class="container">
			<div th:include="common :: header" class="navbar navbar-inverse navbar-static-top" role="navigation"></div>
		</div>
	</div>
	
	<div class="container">
		<div class="jumbotron">
			<h1>About us</h1>
			<p><code>Under construction</code></p>
			<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
		</div>
		
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Knowing the geeks. <span class="text-muted">It'll blow your mind.</span></h2>
				<p class="lead"><code>Under construction</code></p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" />
			</div>
		</div>
		
		<hr class="featurette-divider" />
		
		<div class="row featurette">
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" />
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">Our purpose. <span class="text-muted">See for yourself.</span></h2>
				<p class="lead"><code>Under construction</code></p>
			</div>
		</div>
		
		<hr class="featurette-divider" />
		
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Core values. <span class="text-muted">Checkmate.</span></h2>
				<p class="lead"><code>Under construction</code></p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" />
			</div>
		</div>
		
		<hr class="featurette-divider" />
		
		<div class="row">
			<div class="col-lg-4">
				<img class="img-circle" src="../../img/geeksexception/chiefs/joseph_blue.png" th:src="@{/img/geeksexception/chiefs/joseph_blue.png}" alt="Generic placeholder image" />
				<h2>Joseph BAGNES</h2>
				<p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:josephbagnes@geeksexception.com">josephbagnes@geeksexception.com</a><br /><br />
					Specializes on Standard JavaEE Technologies, Spring, Hibernate, .Net Technology, Web services, Kerberos, Test-Driven Development and Behavior-Driven Development, Agile methodology, Native Android Mobile Development
				</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-circle" src="../../img/geeksexception/chiefs/geng_blue.png" th:src="@{/img/geeksexception/chiefs/geng_blue.png}" alt="Generic placeholder image" />
				<h2>Geng DE LAS ARMAS</h2>
				<p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:gengstah@geeksexception.com">gengstah@geeksexception.com</a><br /><br />
					Specializes on Standard JavaEE Technologies, Spring, Hibernate, Web services, Kerberos, Test-Driven Development and Behavior-Driven Development, Agile craftmanship, Continuous Integration and Deployment, Native iOS Mobile Development
				</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-circle" src="../../img/geeksexception/chiefs/charles_blue.png" th:src="@{/img/geeksexception/chiefs/charles_blue.png}" alt="Generic placeholder image" />
				<h2>Charles VICENCIO</h2>
				<p><span class="glyphicon glyphicon-envelope"></span> <a href="charlesamiel.vicencio@geeksexception.com">charlesamiel.vicencio@geeksexception.com</a><br /><br />
					Specializes on .Net Technology, Silverlight technology, cross-platform mobile development, web design, Agile methodology, Test-Driven Development and Behavior-Driven Development, Spring.NET, Entity Framework, NHibernate
				</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
		
		<hr class="featurette-divider" />
		
		<div class="col-md-6">
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<address>
					<strong>GeeksException</strong><br />
					<span itemprop="streetAddress">20 Pasir Panjang Road,</span><br />
					<span itemprop="addressLocality">Singapore City, Singapore</span>
					<span itemprop="postalCode">117439</span><br />
					<abbr title="Email">E:</abbr><a href="mailto:support@geeksexception.com"><span itemprop="email">support@geeksexception.com</span></a>
				</address>
			</div>
		</div>
		
		<h1>We love to hear from you,</h1>
		<div class="col-md-6">
			<form id="formFeedback" action="#" th:action="@{/about/send}" method="POST" role="form">
				<legend>Send us a mail</legend>
				<div id="confirmation"></div>
				<div id="formGroupName" class="form-group">
					<label for="name">Name</label>
					<input id="name" name="name" class="form-control" type="text" title="Please enter your name" placeholder="Enter your name&hellip;" required="required" />
				</div>
				
				<div id="formGroupPhone" class="form-group has-feedback">
					<label for="phone">Phone</label>
					<input id="phone" name="phone" class="form-control" type="tel" title="Please enter your email" placeholder="Enter your phone number&hellip;" required="required" />
					<span class="glyphicon glyphicon-phone form-control-feedback"></span>
				</div>
				
				<div id="formGroupEmail" class="form-group has-feedback">
					<label for="email">Email</label>
					<input id="email" name="email" class="form-control" type="email" title="Please enter your email" placeholder="Enter your email&hellip;" required="required" />
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				
				<div id="formGroupConcern" class="form-group">
					<label for="concern">Concern</label>
					<textarea id="concern" name="concern" class="form-control" title="Please enter your concern" placeholder="Enter your concern&hellip;" required="required"></textarea>
				</div>
				<p><button id="btnSubmit" type="button" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-send"></span> Send</button></p>
			</form>
		</div>
		
		<div class="clearfix">
			<footer th:include="common :: footer"></footer>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/docs.min.js" th:src="@{/js/docs.min.js}"></script>
	<script src="../../js/about.js" th:src="@{/js/about.js}"></script>
</body>
</html>