<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="GeeksException" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">Sample</title>
	
	<!-- Facebook OpenGraph Tags -->
	<meta property="og:title" content="GeeksException" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.geeksexception.com" />
	<meta property="og:image" content="http://geeksexception.com/img/profile.png" />
	<meta property="fb:app_id" content="582399555170253" />
	<meta property="og:description" content="Enterprise level web &amp; mobile development." />
	
	<link rel="icon" type="image/ico" href="../../img/favicon.ico" th:href="@{/img/favicon.ico}" />
	<link href='../../css/normalize.css' th:href="@{/css/normalize.css}" rel='stylesheet' type='text/css' />
	<link href='../../css/style.css' th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header th:include="common :: header"></header>
	<div class="container">
		<section class="intro">
			<article>
				<header>
					<h1 class="section-title">Want to know more about us?</h1>
				</header>
			</article>
		</section>
		
		<section>
			<div class="l-grid-3">
				<div class="about">
					<div class="about-title">
						<h2>All about us</h2>
					</div>
					
					<div class="about-content">
						<p class="medium">We are a group of innovative and talented individuals that drive excellence at what we do. A team that is passionate in building software solutions that can transform user experience to a whole new level. What's more, we don't just build software by what the users tell us, we build software by what they really need even when they don't know it yet. Building a company that embraces this concept is very challenging yet very exciting for us. After all, everything is impossible until it's done!</p>
					</div>
				</div>
				
				<div class="about">
					<div class="about-title">
						<h2>The purpose</h2>
					</div>
					
					<div class="about-content">
						<p class="medium">We provide a variety of enterprise software services and product support ranging from website and mobile website design to enterprise software solutions. The technology that we employ is different and tailored for every customer needs. We utilize powerful open source frameworks and tools that are widely used by communities and organizations today.</p>
					</div>
					<div class="about-content">
						<p class="medium">Currently, we are adapting the mobile platforms development to enable our clients to utilize their applications on their handheld devices and enable us to leverage the power of mobile apps.</p>
					</div>
				</div>
				
				<div class="about">
					<div class="about-title">
						<h2>Our core values</h2>
					</div>
					
					<div class="about-content">
						<p class="medium">Our core values are closely related to the principles behind the agile software development methodology. We have been agile proponents since the company's inception. The following are our key core values:</p>
						<div>
							<ul>
								<li>- Customer satisfaction and customer collaboration</li>
								<li>- Continuous technical excellence</li>
								<li>- Working software as primary measure of progress</li>
								<li>- Simplicity</li>
								<li>- Self-organizing teams</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<header>
				<h1 class="section-title">Meet our chief scientists</h1>
			</header>
			<div class="l-grid-3">
				<div class="chief-scientist">
					<span itemprop="founder" itemscope="" itemtype="http://schema.org/Person">
						<div class="avatar"><img src="../../img/geeksexception/chiefs/joseph.png" th:src="@{/img/geeksexception/chiefs/joseph.png}" /></div>
						<div class="chief-scientist-header">
							<h2>
								<span itemprop="name">
									<span itemprop="givenName">Joseph</span>
									<span itemprop="familyName">Bagnes</span>
								</span>
							</h2>
						</div>
						
						<div class="chief-scientist-body">
							<span itemprop="description">
								<p>
									Java Enterprise Applications Specialist, OCPJP, OCEWCD, OCEJPAD.<br />
									Has strong experience in back-end development using JavaEE and well-known frameworks, platforms, and architectures. Currently working as Application Security Developer/Consultant with good knowledge and experience in securing critical and sensitive applications that are being used by wide-range of end users. 
									<br /><br />
									Skill set: Standard JavaEE Technologies, Spring, Hibernate, .Net Technology, Web services, Kerberos, TDD and BDD, Agile methodology. <a href="mailto:josephbagnes@gmail.com">Contact me</a>, <a href="http://www.linkedin.com/pub/joseph-bernabe-bagnes/24/aa/5b" target="_blank">LinkedIn</a>
								</p>
							</span>
						</div>
					</span>
				</div>
				<div class="chief-scientist">
					<span itemprop="founder" itemscope="" itemtype="http://schema.org/Person">
						<div class="avatar"><img src="../../img/geeksexception/chiefs/geng.png" th:src="@{/img/geeksexception/chiefs/geng.png}" /></div>
						<div class="chief-scientist-header">
							<h2>
								<span itemprop="name">
									<span itemprop="givenName">Gerard</span>
									<span itemprop="familyName">Delas Armas</span>
								</span>
							</h2>
						</div>
						
						<div class="chief-scientist-body">
							<span itemprop="description">
								<p>
									Java Developer that is enthusiastic in learning new technologies in Java, in designing solutions in an elegant way, in building robust and scalable enterprise applications and in the principle of agile craftmanship.
									
									<br /><br />Currently holding 4 Oracle Java certificates: Oracle Certified Professional, Java SE 6 Programmer, Oracle Certified Expert, Java EE 6 Web Component Developer, Oracle Certified Expert, Java EE 6 Java Persistence API Developer and Oracle Certified Expert, EE 6 Web Services Developer
								</p>
							</span>
						</div>
					</span>
				</div>
				<div class="chief-scientist">
					<span itemprop="founder" itemscope="" itemtype="http://schema.org/Person">
						<div class="avatar"><img src="../../img/geeksexception/chiefs/charles.png" th:src="@{/img/geeksexception/chiefs/charles.png}" /></div>
						<div class="chief-scientist-header">
							<h2>
								<span itemprop="name">
									<span itemprop="givenName">Charles Amiel</span>
									<span itemprop="familyName">Vicencio</span>
								</span>
							</h2>
						</div>
						
						<div class="chief-scientist-body">
							<span itemprop="description">
								<p>
									Charles is like a mobile phone. Sometimes he is in "General mode" where he makes a lot of noise in such a way that he wants people to notice what he’s doing or will just tell people things he did. More often than this mode, he is in "Vibrate mode" where he will just laugh if something funny just happened or simply react to pretend that he exists or being part of a group. But in most cases, you will find him in "Silent mode" where you need to have the initiative to check him out.
								</p>
							</span>
						</div>
					</span>
				</div>
			</div>
		</section>
	</div>
	<footer th:include="common :: footer"></footer>
	<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../../js/application.js" th:src="@{/js/application.js}"></script>
</body>
</html>