<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="GeeksException: Enterprise level web &amp; mobile development." />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=582399555170253";
				fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	
	<!-- <header th:fragment="header">
		<nav>
			<ul>
				<li><div class="webapp-title" th:text="#{webapp.title}">&nbsp;GeeksException</div></li>
				<li><a id="home" href="home.html" th:href="@{/}" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), '/')} ? 'selected' : ''"><div id="home_icon"><span th:text="#{home.text}" class="menuTitle">Home</span></div></a></li>
				<li><a id="whatwedo" href="whatwedo.html" th:href="@{/whatwedo}" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'whatwedo')} ? 'selected' : ''"><div id="whatwedo_icon"><span th:text="#{whatwedo.text}" class="menuTitle">What we do</span></div></a></li>
				<li><a id="portfolio" href="portfolio.html" th:href="@{/portfolio}" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'portfolio')} ? 'selected' : ''"><div id="portfolio_icon"><span th:text="#{portfolio.text}" class="menuTitle">Portfolio</span></div></a></li>
				<li><a id="aboutus" href="about.html" th:href="@{/about}" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'about')} ? 'selected' : ''"><div id="about_icon"><span th:text="#{about.text}" class="menuTitle">About Us</span></div></a></li>
				<li><a id="contact" href="contact.html" th:href="@{/contact}" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'contact')} ? 'selected' : ''"><div id="contact_icon"><span th:text="#{contact.text}" class="menuTitle">Contact</span></div></a></li>
		    </ul>
		</nav>
	</header> -->
	
	<div th:fragment="header">
        <div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:text="#{webapp.title}">GeeksException</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), '/')} ? 'active' : ''"><a id="home" href="home.html" th:href="@{/}" th:text="#{home.text}">Home</a></li>
					<li th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'whatwedo')} ? 'active' : ''"><a id="whatwedo" href="whatwedo.html" th:href="@{/whatwedo}" th:text="#{whatwedo.text}">What we do</a></li>
					<li th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'portfolio')} ? 'active' : ''"><a id="portfolio" href="portfolio.html" th:href="@{/portfolio}" th:text="#{portfolio.text}">Portfolio</a></li>
					<li th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), 'about')} ? 'active' : ''"><a id="aboutus" href="about.html" th:href="@{/about}" th:text="#{about.text}">About</a></li>
				</ul>
			</div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
	</div>
	
	<footer th:fragment="footer">
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2014 GeeksException &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</body>
</html>