<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="GeeksException" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">Sample</title>
	
	<!-- Facebook OpenGraph Tags -->
	<meta property="og:title" content="GeeksException" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.geeksexception.com" />
	<meta property="fb:app_id" content="582399555170253" />
	<meta property="og:description" content="Enterprise level web &amp; mobile development." />
	
	<link href='../../css/normalize.css' th:href="@{/css/normalize.css}" rel='stylesheet' type='text/css' />
	<link href='../../css/style.css' th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header th:include="common :: header"></header>
	<div class="container">
	<section class="intro">
		<article>
			<header>
				<h1 class="section-title">Geeks Exception</h1>
			</header>
			<div id="slider">
				<div class="slider_images">
					<ul>
						<li><img src="../../img/geeksexception/geeksexceptionfinal.png" th:src="@{/img/geeksexception/geeksexceptionfinal.png}" alt="Continuous Excellence" title="Continuous Excellence" id="wows1_0"/></li>
						<li><img src="../../img/geeksexception/geeksexceptionfinal2.png" th:src="@{/img/geeksexception/geeksexceptionfinal2.png}" alt="Collaboration" title="Collaboration" id="wows1_1"/></li>
						<li><img src="../../img/geeksexception/geeksexceptionfinal3.png" th:src="@{/img/geeksexception/geeksexceptionfinal3.png}" alt="Simplicity" title="Simplicity" id="wows1_2"/></li>
						<li><img src="../../img/geeksexception/img/geeksexceptionfinal4.png" th:src="@{/img/geeksexception/geeksexceptionfinal4.png}" alt="Client Satisfaction" title="Client Satisfaction" id="wows1_3"/></li>
					</ul>
				</div>
				<div class="slider_bullets">
					<div>
						<a href="#" title="GeeksException1"><img src="../../img/tooltips/geeksexceptionfinal.png" th:src="@{/img/tooltips/geeksexceptionfinal.png}" alt="GeeksException1"/>1</a>
						<a href="#" title="GeeksException2"><img src="../../img/tooltips/geeksexceptionfinal2.png" th:src="@{/img/tooltips/geeksexceptionfinal2.png}" alt="GeeksException2"/>2</a>
						<a href="#" title="GeeksException3"><img src="../../img/tooltips/geeksexceptionfinal3.png" th:src="@{/img/tooltips/geeksexceptionfinal3.png}" alt="GeeksException3"/>3</a>
						<a href="#" title="GeeksException4"><img src="../../img/tooltips/geeksexceptionfinal4.png" th:src="@{/img/tooltips/geeksexceptionfinal4.png}" alt="GeeksException4"/>4</a>
					</div>
				</div>
				<a href="#" class="slider_frame"></a>
				<div class="slider_shadow"></div>
			</div>
		</article>
	</section>
	</div>
	<footer th:include="common :: footer"></footer>
	<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../../js/application.js" th:src="@{/js/application.js}"></script>
</body>
</html>