<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="GeeksException" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">Sample</title>
	
	<!-- Facebook OpenGraph Tags -->
	<meta property="og:title" content="GeeksException" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.geeksexception.com" />
	<meta property="og:image" content="http://geeksexception.com/img/profile.png" />
	<meta property="fb:app_id" content="582399555170253" />
	<meta property="og:description" content="Enterprise level web &amp; mobile development." />
	
	<link href='../../css/normalize.css' th:href="@{/css/normalize.css}" rel='stylesheet' type='text/css' />
	<link href='../../css/style.css' th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header th:include="common :: header"></header>
	<div class="container">
	<section class="intro">
		<article>
			<header>
				<h1 class="section-title">Enterprise level web &amp; mobile development</h1>
			</header>
			
			<div class="l-grid-4">
				<div class="competence">
					<div class="competence-icon">
						<img class="competence-icon-img" src="../../img/icon-native.png" th:src="@{/img/icon-native.png}" />
					</div>
					<h2 class="competence-title">
						Native
						Android/iOS
					</h2>
					<p class="competence-description">
						Breathtaking apps with great attention to user experience and performance.
					</p>
				</div>
				
				<div class="competence">
					<div class="competence-icon">
						<img class="competence-icon-img" src="../../img/icon-native.png" th:src="@{/img/icon-native.png}" />
					</div>
					<h2 class="competence-title">
						Native
						Android/iOS
					</h2>
					<p class="competence-description">
						Breathtaking apps with great attention to user experience and performance.
					</p>
				</div>
				
				<div class="competence">
					<div class="competence-icon">
						<img class="competence-icon-img" src="../../img/icon-native.png" th:src="@{/img/icon-native.png}" />
					</div>
					<h2 class="competence-title">
						Native
						Android/iOS
					</h2>
					<p class="competence-description">
						Breathtaking apps with great attention to user experience and performance.
					</p>
				</div>
				
				<div class="competence">
					<div class="competence-icon">
						<img class="competence-icon-img" src="../../img/icon-native.png" th:src="@{/img/icon-native.png}" />
					</div>
					<h2 class="competence-title">
						Native
						Android/iOS
					</h2>
					<p class="competence-description">
						Breathtaking apps with great attention to user experience and performance.
					</p>
				</div>
			</div>
		</article>
	</section>
	</div>
	<footer th:include="common :: footer"></footer>
	<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../../js/application.js" th:src="@{/js/application.js}"></script>
</body>
</html>